@media screen and (max-width: 1920px) {
  .weekData {
    width: 350px;
    height: 150px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .weekData p {
    font-weight: bold;
    font-size: 25px;
  }
  span {
    font-weight: bold;
  }
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.2em;
    font-size: 20px;
  }
  .tag-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.2em;
    font-size: 14px;
  }
}

@media screen and (max-width: 1366px) {
  .weekData {
    width: 250px;
    height: 110px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .weekData h1 {
    font-weight: bold;
    font-size: 14px;
  }

  .weekData p {
    font-weight: bold;
    font-size: 16px;
  }
  span {
    font-weight: bold;
  }
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
    font-size: 14px;
  }
  .tag-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.2em;
    font-size: 14px;
    transform: scale(0.8);
  }
}
